

.app-footer{
  bottom:0;
  margin-left:220px;
  font-size:12px;
  padding:16px;
  background-color:#e5e5e5;
  border-top:1px solid #ddd;
}


#sub-header p {
  color: #7a7c7f;
  font-size: 24px;
  font-family: "Libre Baskerville", serif;
  line-height: 35px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

.byline {
  font-style: italic;
  color: #B6B6B6;
  font-size: 19px;
  margin-top: 5px;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
  padding-bottom: 10px;
}

#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    display: block;
}

.load-font{
  font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif !important;
	font-weight: normal;
        font-size: 1.75em;
	letter-spacing: .2em;
	line-height: 1.1em;
	margin:0px;
	text-align: center;
	text-transform: uppercase;
  margin-top: 100px;
}

.drop-user-menu {
    padding-right: 10px;
}
.title-fix {
  padding-top: 65px;
}

.header-collor{
  background-color: #495c66;
}

.food-collor{
  color: #008247
}

.hr-personal{
  border-top: 1px solid #616f77 !important;
}

.card-footer{
  background: rgba(0,0,0,0.65);
  bottom: 0;
  color: #FFF;
  padding: 10px;
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  margin: 0px 15px 0px 0px;
}

.card-footer ul li.lead{
    border-bottom: 1px solid #FFF;
    margin-bottom: 0;
    padding-bottom: 4px;
    text-transform: uppercase;
    font-family: "ff-meta-serif-web-pro-n5","ff-meta-serif-web-pro",serif;
    font-style: normal;
    list-style-type: none;
    margin-left: -40px;
}

.card-footer ul li.strap{
    font-family: "ff-meta-serif-web-pro-n5","ff-meta-serif-web-pro",serif;
    padding-top: 8px;
    line-height: 1.35;
    font-style: italic;
    text-transform: uppercase;
    list-style-type: none;
    margin-left: -40px;
}

.rating-stars{
    padding-top: 5px;
    padding-bottom: 5px;
}

.personalized, hr{
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 2px solid #6ce4cf;
  margin-left: 25px;
}
.img-responsive, .center{
  margin: 0 auto;
}

.no-collor{
  background-color: rgba(0, 0, 0, 0.00) !important;
  color: white;
}
.no-collor:focus,
.no-collor:hover,
.selected-item{
  color: #6ce4cf;
}

.card-back-div, .review-content{
  padding: 5px;
  color: white;
}

.chef-label, .start-color {
  /*color: #FFFF00*/
  color: #6de8d2;
}

.pull-down {
  position: absolute;
  margin-bottom: 25px;
  padding-right: 40px;
}

.user-header{
  margin-top: 10px;
}

.text-white{
  color: white !important;
}

.pla-ho-collor{
  color: #666a6c;
}

.text-orange {
  color: #6ce4cf !important;
}

.user-name{
  color: #6de8d2 !important;
}

.bg-red.lter {
    background-color: #707070 !important;
}

.card {
  margin: 0px 0px 10px 0px;
  padding-left: 0px;
  height: 300px;
}

.card .content {
  background-color: #707070;
  height: 100%;
  padding: 10px;
}

.card-detail{
  height: 400px;
  background-color: #495c66;
  margin-right: 15px;
  margin-left: -15px;
  right: 0;
}

.card-detail .content{
  height: 100%;
}

.selected-card{
  background-color: #495c66 !important;
}

.card:hover .content{
  background-color: #495c66 !important;
  cursor: pointer;
}

.card:hover .card-footer, .selected-footer{
  color: #6de8d2;
}

.card:hover .card-footer ul li.lead {
  border-bottom: 2px solid #495c66;
}

.fix-to-top {
    position: fixed;
    top: 52px;
}
















.card .content .body{}
.card .content .footer{}

.card .content .footer div a:focus,
.card .content .footer div a:hover{
  color: white !important;
}


.card .back {
  background-color: #707070;
}

.card .front {
  background-color: #707070;
}

.no-visible{
  visibility: hidden;
}

.visible{
  visibility: visible;
}
