<header class="clearfix header-collor" ng-controller="DashboardCtrl as vm" ng-show="vm.user">
  <h5 class="text-light text-white text-center col-xs-6" ><span class="text-lightred load-font">FOOD</span>REVIEW</h5>

  <ul class="col-xs-6 list-inline user-header">
    <li class="dropdown nav-profile pull-right" dropdown>

        <a href class="dropdown-toggle" dropdown-toggle>
          <img ng-src="{{vm.user.image}}" alt="" class="img-circle size-30x30">
          <span class="text-white">{{vm.user.name}} <fa name="angle-down"></fa></span>
        </a>

        <ul class="dropdown-menu animated littleFadeInRight" role="menu">

          <li>
            <a href="#">
              <span class="badge bg-greensea pull-right">86%</span>
              <fa name="user"></fa>Profile
            </a>
          </li>
          <li>
            <a href="#">
              <span class="label bg-lightred pull-right">new</span>
              <fa name="check"></fa>Tasks
            </a>
          </li>
          <li>
            <a href="#">
              <fa name="cog"></fa>Settings
            </a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">
              <fa name="lock"></fa>Lock
            </a>
          </li>
          <li>
            <a href="#">
              <fa name="sign-out"></fa>Logout
            </a>
          </li>

        </ul>

      </li>
    </ul>
</header>
<!-- <md-content class="md-padding" id="toastContainer"> -->
