<header class="clearfix header-collor">

  <!-- Branding -->
  <!-- <div class="branding {{main.settings.brandingColor}}">
    <a class="brand" ui-sref="app.dashboard">
      <span><strong>FOOD</strong>REVIEW</span>
    </a>
    <a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i class="fa fa-bars"></i></a>
  </div> -->
  <h3 class="text-light text-white text-center"><span class="text-lightred load-font">FOOD</span>REVIEW</h3>
  <!-- Branding end -->


</header>
