<div class="page page-dashboard" ng-show="vm.user">
  <br>
  <div class="col-xs-12" ng-hide="vm.mobile">
    <div id="sub-header" role="heading">
      <p>I won't be Impressed with tecnology until I can donwload <strong class="food-collor">FOOD.</strong></p>
    </div>
  </div>

  <div class="row">
    <!-- search -->
    <div class="col-xs-12" ng-hide="vm.mobile">
      <section ng-include="'views/app/app.dashboard.search.html'" id="card-search"></section>
    </div>
    <!-- /search -->
    <!-- cards -->
    <div id="card-content" class="col-xs-12 col-lg-8" ng-hide="vm.mobile">
      <section ng-include="'views/app/app.dashboard.card.html'"></section>
    </div>
    <!-- /cards -->


    <!-- card details -->
    <div class="hidden-xs hidden-sm col-xs-12 col-lg-4 card-detail" set-class-when-at-top="fix-to-top">
      <div class="content" ng-show="vm.selected" ng-if="!vm.mobile">
        <section ng-include="'views/app/app.dashboard.picture.html'"></section>

        <section ng-include="'views/app/app.dashboard.details.html'"></section>

        <section ng-include="'views/app/app.dasboard.review.html'"></section>

        <section ng-include="'views/app/app.dashboard.write-review.html'"></section>

        <section ng-include="'views/app/app.dashboard.footer.html'" class="pull-down"></section>

      </div>
    </div>
    <!-- /card details -->

    <!-- mobile content -->
    <div id="mobile-body" class="col-xs-12 visible-sm visible-xs" ng-if="vm.mobile">
      <div class="mobile-card-content">
        <span class="pull-right quit row" ng-click="vm.mobile=false">X</span>
        <div class="header">
          <img class="media-object img-circle mobile-img"
               ng-src="../images/{{vm.selected.image}}"
               alt="{{vm.selected.alt}}"
               title="{{vm.selected.alt}}"/>
        </div>

        <span class="text-center col-xs-12 restaurant-label">{{vm.selected.name}}</span>

        <section ng-include="'views/app/app.dashboard.picture.html'"></section>

        <section ng-include="'views/app/app.dashboard.details.html'"></section>

        <section ng-include="'views/app/app.dasboard.review.html'"></section>

        <section ng-include="'views/app/app.dashboard.write-review.html'"></section>

        <section ng-include="'views/app/app.dashboard.footer.html'" class="pull-down"></section>

      </div>
    </div>
    <!-- /mobile content -->
  </div>
