<div class="page page-dashboard" ng-show="vm.user">

  <div class="hidden-md hidden-lg">
    <div id="sub-header">
      <p>I won't be Impressed with tecnology until I can donwload <strong class="food-collor">FOOD.</strong></p>
    </div>
  </div>

  <div class="pageheader hidden-xs hidden-sm">

    <div class="page-bar">

      <ul class="page-breadcrumb">
        <li>
          <div id="sub-header">
            <p>You won't upload a review without downloading <strong class="food-collor">food</strong>. Get to know where's your next stop.</p>
          </div>
        </li>
      </ul>
    </div>

  </div>

  <div class="row">
    <div layout layout-sm="column" class="col-xs-offset-1 col-xs-10 text-center">
      <md-input-container flex>
        <label>What you looking for?</label>
        <input ng-model="vm.search">
      </md-input-container>
    </div>
  </div>

  <div class="row">
    <div class="card-container col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="restaurant in vm.restaurants | filter:vm.search">
      <div class="card">
        <div class="front bg-red lter">
          <!-- <div class="row"> -->
            <img class="img-responsive center" ng-src="../images/{{restaurant.image}}" alt="" />
            <div class="card-footer">
              <ul>
                <li class="lead">{{ restaurant.name }}</li>
                <li class="strap">{{ restaurant.country }}</li>
              </ul>
            </div>
          <!-- </div> -->
        </div>
        <div class="back bg-red lter">
          <!-- BACKGROUND -->
          <div ng-show="restaurant.isBackground">
            <div class="rating-stars text-center">
              <i ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon ng-scope fa fa-star text-orange text-lg" ng-class="$index < value &amp;&amp; (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')" ng-attr-title="{{r.title}}" role="button" tabindex="0" title="one"></i>
              <i ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon ng-scope fa fa-star text-orange text-lg" ng-class="$index < value &amp;&amp; (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')" ng-attr-title="{{r.title}}" role="button" tabindex="0" title="one"></i>
              <i ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon ng-scope fa fa-star text-orange text-lg" ng-class="$index < value &amp;&amp; (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')" ng-attr-title="{{r.title}}" role="button" tabindex="0" title="one"></i>
              <i ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon ng-scope fa fa-star text-orange text-lg" ng-class="$index < value &amp;&amp; (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')" ng-attr-title="{{r.title}}" role="button" tabindex="0" title="one"></i>
              <i ng-mouseenter="enter($index + 1)" ng-click="rate($index + 1)" class="glyphicon ng-scope fa fa-star text-orange text-lg" ng-class="$index < value &amp;&amp; (r.stateOn || 'glyphicon-star') || (r.stateOff || 'glyphicon-star-empty')" ng-attr-title="{{r.title}}" role="button" tabindex="0" title="one"></i>
            </div>
            <img class="img-responsive text-center" ng-src="../images/{{restaurant.background}}" alt="" />
          </div>

          <!-- DETAILS -->
          <div ng-show="restaurant.isDetails" class="card-back-div">

            <div class="tile-widget">
              <div class="row">
                <div class="col-xs-12">
                  <div class="media mb-20">
                    <div class="pull-left thumb">
                      <img class="media-object img-circle" ng-src="../images/{{restaurant.image}}" alt="">
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading mb-0">{{ restaurant.name }}</h4>
                      <small>Chef: <strong class="chef-label">{{ restaurant.chef }}</strong></small>
                    </div>
                  </div>
                </div>

                <div class="col-xs-12">
                  <dl class="dl-horizontal text-sm">
                    <dt class="col-xs-3">Rating: </dt>
                    <dd class="text-lightred start-color col-xs-9">
                      <i class="fa fa-star" ng-repeat="stars in restaurant.stars"></i>
                      <i class="fa fa-star-half-o" ng-repeat="halfStar in restaurant.halfStar"></i>
                      ({{restaurant.rate | limitTo : 3}})
                    </dd>
                    <dt class="col-xs-3">Cuisine: </dt>
                    <dd class="col-xs-9">{{ restaurant.cuisine }}</dd>
                    <dt class="col-xs-12">Operating Hours: </dt>
                    <dd class="col-xs-12">
                      <table ng-table="tableParams" class="table table-custom">
                        <tr><td><span>Weekday: {{ restaurant.weekday }}</span></td></tr>
                        <tr><td><span>Weekend: {{ restaurant.weekend }}</span></td></tr>
                      </table>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>

          </div>
          <!-- /DETAILS -->

          <!-- REVIEWS-->
          <div ng-show="restaurant.isReview">

            <div class="tile-body review-content" style="max-height: 215px;overflow:auto;" slimscroll="{height: '100%'}">
              <ul class="chats p-0">
                <li ng-class="{'in': $index % 2 == 0 , 'out': $index % 2 != 0}" ng-repeat="review in vm.listReviews" ng-show="review.restaurant_id == restaurant.id">

                  <div class="media">
                    <div ng-class="{'pull-left': $index % 2 == 0 , 'pull-right': $index % 2 != 0}" class="thumb thumb-sm">

                      <!-- <i class="fa fa-user fa-2x" aria-hidden="true"></i> -->
                      <img class="media-object img-circle" ng-src="{{review.userPhoto}}" alt="">

                    </div>
                    <div class="media-body">
                      <p class="media-heading"><a href="#" class="name">{{ review.userName }}</a><strong> at {{ review.date }}</strong></p>
                      <span class="body">{{ review.review }}</span>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
          <!-- /REVIEWS -->

          <!-- WRITEREVIEW -->
          <div ng-show="restaurant.isWriteReview" class="card-back-div">

            <div class="form-group">
              <textarea class="form-control"
                        rows="3"
                        placeholder="Write something about {{restaurant.name}}"
                        ng-model="restaurant.reviews.message"
                        maxlength="100">
              </textarea>
            </div>

            <div class="text-center">
              <div ng-init="x = 0" class="mb-10">
                <rating ng-model="restaurant.reviews.rate" max="5" state-on="'fa fa-star text-orange text-lg'" state-off="'fa fa-star-o text-lg'"></rating>
                <b>({{restaurant.reviews.rate}})</b>
              </div>
              <button class="btn btn-cyan btn-ef btn-ef-7 btn-ef-7h mb-10"
                      ng-click="vm.publishReview(restaurant)"
                      ng-disabled="!restaurant.reviews.rate"> Publish
              </button>
            </div>

          </div>
          <!-- /WRITEREVIEW -->

          <div class="row pull-down col-xs-12">
            <hr class="personalized">
            <div class="col-xs-4">
              <a href=javascript:; class="no-collor" ng-click="vm.details(restaurant)">
                <i class="fa fa-asterisk fa-2x" aria-hidden="true"></i> Details
              </a>
            </div>
            <div class="col-xs-4">
              <a href=javascript:; class="no-collor" ng-click="vm.reviews(restaurant)">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i> Reviews
              </a>
            </div>
            <div class="col-xs-4">
              <a href=javascript:; class="no-collor" ng-click="vm.writeReview(restaurant)">
                <i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i> Write review
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
